<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Oscars 2018: Man arrested for theft of Frances McDormand's Oscar</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>5 March 2018</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>A man has been arrested on suspicion of stealing Frances McDormand's Oscar after the awards ceremony on Sunday.
Los Angeles Police have confirmed Terry Bryant was arrested for grand theft, after the statuette went missing from the Governor's Ball. The 47-year old was booked and has had bail set at $20,000 (£14,400). He will attend court at a future date. The statue has since been returned to the best actress winner.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Razzie winners announced</h4>
                </div>
                <div class="timeline-body">
                    <p><small>By Lisa Respers France, CNN Updated 1:44 PM ET, Sat March 3, 2018</small></p>
                    <p>(CNN)Where is that sad-face emoji when you need it? The Golden Raspberry Awards, known as the Razzies, celebrate the best in the worst of what Hollywood has to offer, and "The Emoji Movie" swept this year's awards for worst picture, screen combo, director and screenplay. "Fifty Shades Darker" won (lost?) with two awards: worst supporting actress for Kim Basinger and worst remake, rip-off or sequel...<a href="https://www.cnn.com/2018/03/03/entertainment/razzie-awards-winners/index.html">read more</a></p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Netflix Orders Australian Comedy Series From ‘Summer Heights High’s Chris Lilley</h4>
                </div>
                <div class="timeline-body">
                    <p>The SVOD service has ordered an as-yet-untitled series from Lilley and his production partner Laura Waters, who founded Australian production company Princess Pictures. It is the digital platform’s latest investment in original content in the country after it ordered its first origination, supernatural crime drama Tidelands last year, as well as co-productions including Glitch, Pine Gap, The New Legends Of Monkey and Beat Bugs. Details of the show are being kept under wraps, but the order was revealed by Annastacia Palaszczuk, Premier of the Queensland territory, who announced that the series...<a href="http://deadline.com/2018/03/netflix-orders-ten-part-australian-comedy-series-from-summer-heights-highs-chris-lilley-1202311428/">read more</a></p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
