<body>
<div class="parallax-container">
   <div class="parallax"><img src="../images/films.jpg"></div>
 </div>
 <div class="search">
 <div class="section black">
   <div class="row container">
</div>
     <p class="grey-text text-darken-3 lighten-3"><app-search-form></app-search-form></p>
   </div>
 </div>

 <div class="parallax-container">
   <div class="parallax"><img src="../images/films.jpg"></div>
 </div>
</body>

<!-- <app-search-form></app-search-form> -->



<!--
<div class="container">
<div class="row">
<div class="column">
<img src="assets/images/yo.jpeg">
<img src="assets/images/yo.jpeg">
<img src="assets/images/yo.jpeg">

</div>
<div class="column">
<img src="assets/images/yo.jpeg">
<img src="assets/images/yo.jpeg">
<img src="assets/images/yo.jpeg">

</div>
<div class="column">
<img src="assets/images/yo.jpeg">
<img src="assets/images/yo.jpeg">
<img src="assets/images/yo.jpeg">

</div>
<div class="assets/images/yo.jpeg">
<img src="assets/images/yo.jpeg">
<img src="assets/images/yo.jpeg">
<img src="assets/images/yo.jpeg">
</div>
</div>
</div> -->
