<form name="userRegistrationForm" method="post" #RegistrationForm="ngForm">
  <h3 align="center">Registration</h3>
  <div class="form-group">
    <label for="firstName">Name</label>
    <input type="text" class="form-control" [(ngModel)]="user.name" name="name" placeholder="Full Name" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password Confirmation</label>
    <input type="password" class="form-control" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" placeholder="Password Confirmation" required>
  </div>
  <div class="form-group">
      <!-- <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="createUserRegular()" [disabled]="RegistrationForm.form.invalid">
        Login with Email
      </button> -->
      <div class="row">
        <a (click)="createUserRegular()" class="waves-effect waves-light btn col s12 green">
        <i></i>Submit</a>
      </div>
  </div>
</form>
