<div>
<img src="http://image.tmdb.org/t/p/w1280/{{example.backdrop_path}}">
<h1>
  {{example.name}}
</h1>
<ul *ngFor="let genre of example.genres">
  <li> {{genre.name }} </li>
</ul>
<hr>
<h4> Overview</h4>
  <p>
  {{example.overview}}
</p>
<h4> Creators</h4>
<div *ngFor="let creator of example.created_by">
  <p> {{ creator.name }}</p>
  <img src="http://image.tmdb.org/t/p/w185/{{creator.profile_path}}">
</div>

<div>
  <h3>Similar Shows</h3>
  <div *ngFor="let show of similar.results">
    <p> {{ show.name }}</p>
    <p>First Aired: <strong>{{show.first_air_date}}</strong></p>
    <img src="http://image.tmdb.org/t/p/w500/{{show.backdrop_path}}">
  </div>
</div>
