<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="search"><i class="material-icons">search</i></a></li>
        <li><a routerLink="favorites"><i class="material-icons">favorites</i></a></li>
        <li><a href="''"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
