<nav class="purple">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">live_tv</i>TV DB</a>
      <ul class="right hide-on-med-and-down">
        <!-- <li><a routerLink="search"><i class="material-icons">search</i></a></li> -->
        <li><a href="''"><i class="material-icons">home</i></a></li>
        <li><a routerLink="favorites"><i class="material-icons">favorite</i></a></li>
        <li><a href="''"><i class="material-icons">trending_up</i></a></li>
        <li><a href="login"><i class="material-icons">person</i></a></li>
      </ul>
    </div>
  </nav>
  <nav class="purple">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>

          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
<router-outlet></router-outlet>
<a routerLink="trend">Trend</a>
