<h2>SEARCH</h2>

<form>
  <div class="form-group">
    <label for="query">What would you like to search for?</label>
    <input type=text value="" #query>
  </div>

  <div class="form-group">
    <!-- <label for="adultContent">Allow adult content?</label> -->
    <!-- <div class="switch">
    <label>
        Off
        <input ng-click="isSwitchedOn = !isSwitchedOn" ng-checked="isSwitchedOn" type="checkbox">
        <span class="lever"></span>
        On
    </label>
</div> -->

    <select #adultContent>
      <option  value="true">Yes</option>
      <option value="false">No</option>
    </select>
  </div>

  <a (click)="getSearchResults(query.value, adultContent.value)" class="waves-effect waves-light btn-large deep-purple"><i class="material-icons right">fast_forward</i>GetMovies</a>

</form>

<!-- <app-search-results></app-search-results> -->

<div *ngIf="movies">
  <app-search-results [childSearchResults]="movies"></app-search-results>
</div>
