
  <div *ngFor="let movie of moviesId | async" class="favorites">
    <div class="card" style="width: 33.3rem;">
      <img class="card-img-top" src="http://image.tmdb.org/t/p/w500/{{movie.backdrop}}">
      <div class="card-body">
        <h5 class="card-title">{{movie.name}}</h5>
        <a *ngIf="movie.mediaType == 'tv'" (click)="goToDetailsTv(movie.itemId)" class="secondary-content"><button>details<i class="material-icons">info</i></button></a>
        <a *ngIf="movie.mediaType == 'movie'"(click)="goToDetailsMovie(movie.itemId)"><button>details<i class="material-icons">info</i></button></a>
  </div>
  </div>
  <br>
  <br>
</div>
<br>
<br>
